[Unit]
Description=Poll for new ganitel backend releases

[Timer]
OnBootSec=1min
OnUnitActiveSec=2min
RandomizedDelaySec=15

[Install]
WantedBy=timers.target
